<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno's Pizza Ingredient Inventory Manager</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
     

             
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <h2>This website will help manage inventory for Bruno's Pizza Ingredients!</h2>
        <a class = "waves-effect waves-light btn" href="/list">
            Get Started!
            <i class="material-icons right">arrow_forward</i>
        </a>

        <br>
        <br>
        <br>
        <br>
        <img src="/images/Brunos_Logo.png" width="250" height="250">
    </div> 
</body>
</html>