<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Inventory Manager</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
    <style>
        .container{
            margin: 2vw auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <form>
            <h1>List of Inventory</h1>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Expire Date</th>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>Tomatoes</td>
                        <td>$ .50</td>
                        <td>30</td>
                        <td>2023-12-12</td>
                        <td>Sauce</td>
                        <th>I love pizza.</th>
                        <td>
                            <a class="waves-effect waves-light btn blue" href = "/list/edit">
                            <i class="material-icons right">create</i>Edit
                            </a>
                            <a class="waves-effect waves-light btn red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>       
                    </tr>
    
                    <tr>
                        <td>Mozzarella</td>
                        <td>$ 1.20</td>
                        <td>60</td>
                        <td>2023-11-12</td>
                        <td>Cheese</td>
                        <th>I hate mozz.</th>
                        <td><a class="waves-effect waves-light btn blue" href = "/list/edit"><i class="material-icons right">create</i>Edit</a>
                            <a class="waves-effect waves-light btn red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>
    
                    <tr>
                        <td>Flour</td>
                        <td>$ 1.50</td>
                        <td>10</td>
                        <td>2024-12-12</td>
                        <td>Dough</td>
                        <th>Flower is mid.</th>
                        <td><a class="waves-effect waves-light btn blue" href = "/list/edit"><i class="material-icons right">create</i>Edit</a>
                            <a class="waves-effect waves-light btn red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>Garlic</td>
                        <td>$ .25</td>
                        <td>20</td>
                        <td>2024-1-12</td>
                        <td>Sauce</td>
                        <th>Garlic stinks.</th>
                        <td><a class="waves-effect waves-light btn blue" href = "/list/edit"><i class="material-icons right">create</i>Edit</a>
                            <a class="waves-effect waves-light btn red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
    
            <br> 
    
            <h1>Add Inventory:</h1>
            <div class="row">
                <div class="input-field">
                    <label for="nameInput">Item Name:</label>
                    <input type="text" name="name" id="nameInput" class="validate" data-length="50" required>
                </div>
             </div>
    
            <div class="row">
                <div class="input-field">
                    <label for="descriptionInput">Price ($):</label>
                    <input type="text" name="description" id="descriptionInput" class="validate" data-length="10" required>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field">
                    <label for="quantityInput">Item Quantity:</label>
                    <input type="number" name="quantity" id="quantityInput" class="validate" value=118 required>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <label for="dateInput">Expire Date:</label>
                    <input type="text" name="date" id="dateInput" class="validate" data-length="10" required>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <label for="categoryInput">Category:</label>
                    <input type="text" name="category" id="categoryInput" class="validate" data-length="100" required>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field">
                    <label for="descriptionInput">Item Description:</label>
                    <input type="text" name="description" id="descriptionInput" data-length="150">
                </div>
            </div>
            
            <button class="waves-effect waves-light btn orange">
                <i class="material-icons right">add</i>
                Add
            </button>
        </div>
    </form>
        
</body>
</html>